%h1 What is that:
.post
  %p easyBt is expecting to be light, productive and easy to use.
  %h3 Main features:
  %ul
    %li Registration is possible, but not necessary
    %li User rating don't count
    %li Based on high-performance tracker
    %li Many other great features are underway

