- @title = "Welcome"

#posts
  - collection.each do |post|
    .post
      %h2= link_to post.title, post
      .body=raw(RuBB.to_html(post.body))
      .details
        = time_ago_in_words(post.created_at) + ' ago | '
        = "0 comments"
      .line
  - if can? :create, resource_class
    = link_to "Add post", new_resource_url
