%h1 Что это такое
.post
  Ни для кого не секрет, что твр уже порядком подзаебал своими тормозами.
  Основная функция данного ресурса - предоставление пользователям удобного,
  простого интерфейса для обмена контентом.
  %h3 Основные особенности:
  %ul
    %li Необязательно регистрироваться для скачивания
    %li Не учитывется рейтинг
    %li Высокая производительность трекера
    %li Простой интуитивный интерфейс
    %li Прочие плюшки

